Hexeng2D/dependencies/glfw/include/GLFW/* linguist-detectable=false
Hexeng2D/dependencies/glad/include/GL/* linguist-detectable=false
Hexeng2D/dependencies/stb/include/stb/* linguist-detectable=false
Hexeng2D/dependencies/al-soft/include/AL/* linguist-detectable=false